In [3]:
import pandas as pd
import numpy as np

In [20]:
#Lectura del dataset 
df = pd.read_csv('dataset.csv')

In [21]:
# Vista de los datos cargados
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [22]:
#Validamos la cantidad de ejemplos que posee el dataset
df["stroke"].value_counts()

0    42617
1      783
Name: stroke, dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [24]:
# ComprobaciÃ³n de si existen valores nulos
is_null = df.isna().any()
is_null[is_null]

bmi               True
smoking_status    True
dtype: bool

In [25]:
# ComprobaciÃ³n de la existencia de valores infinitos
is_inf = df.isin([np.inf, -np.inf]).any()
is_inf[is_inf]

Series([], dtype: bool)

In [26]:
#FunciÃ³n para transformar las columnas categoricas a numericas
df_new = pd.get_dummies(df, columns=['gender','ever_married','work_type','Residence_type','smoking_status'])

In [27]:
#Validamos que los cambios se aplicarÃ³n correctamente 
df_new

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,...,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,30669,3.0,0,0,95.12,18.0,0,0,1,0,...,0,0,0,0,1,1,0,0,0,0
1,30468,58.0,1,0,87.96,39.2,0,0,1,0,...,0,0,1,0,0,0,1,0,1,0
2,16523,8.0,0,0,110.89,17.6,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
3,56543,70.0,0,0,69.04,35.9,0,1,0,0,...,0,0,1,0,0,1,0,1,0,0
4,46136,14.0,0,0,161.28,19.1,0,0,1,0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,10.0,0,0,58.64,20.4,0,1,0,0,...,0,0,0,0,1,0,1,0,1,0
43396,5450,56.0,0,0,213.61,55.4,0,1,0,0,...,1,0,0,0,0,0,1,1,0,0
43397,28375,82.0,1,0,91.94,28.9,0,1,0,0,...,0,0,1,0,0,0,1,1,0,0
43398,27973,40.0,0,0,99.16,33.2,0,0,1,0,...,0,0,1,0,0,0,1,0,1,0
43399,36271,82.0,0,0,79.48,20.6,0,1,0,0,...,0,0,1,0,0,0,1,0,1,0

In [28]:
# Calculamos correlaciones
corr_matrix = df_new.corr()
corr_matrix["stroke"].sort_values(ascending=False)

stroke                            1.000000
age                               0.156049
heart_disease                     0.113763
avg_glucose_level                 0.078917
hypertension                      0.075332
ever_married_Yes                  0.071920
work_type_Self-employed           0.061195
smoking_status_formerly smoked    0.039306
bmi                               0.020285
gender_Male                       0.011352
smoking_status_smokes             0.007061
id                                0.002976
Residence_type_Urban              0.002247
smoking_status_never smoked      -0.002015
gender_Other                     -0.002158
Residence_type_Rural             -0.002247
work_type_Private                -0.002464
work_type_Govt_job               -0.004782
work_type_Never_worked           -0.008674
gender_Female                    -0.011281
work_type_children               -0.054115
ever_married_No                  -0.071920
Name: stroke, dtype: float64